/*------------------------ALL/GERAL------------------------*/
*, 
body,
div{
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.image.phone{
    margin-right: 1.5rem;
}

